<div class="hero">
    <div class="homeintro">Les gites de <br>
        Nouvelle-Calédonie <br>

        <div class="baseline">
            Trouvez votre chambre de gîtes en <br>Nouvelle-Calédonie <br>pour vos plus beau souvenirs</div>
                <div class="flexbtn">
                    <button type="button" class="btn btn-primary"><%= link_to "Réservez", rooms_path %></button>
                    <button type="button" class="btn btn-light"><%= link_to "Login", rooms_path %></button>
                </div>
          </div>
</div>
