.imgshow{
  height: 550px;
  img{
    border-radius: 8px 8px 0px 0px;
}

}
.showinfo{
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  padding: 20px;
  margin-top: 0;
  color: black;
  width: 100%;
}
